html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

a { -webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.125s; -moz-transition-duration: 0.125s; -o-transition-duration: 0.125s; transition-duration: 0.125s; color: #0881b3; text-decoration: none; border-bottom: 1px solid rgba(8, 129, 179, 0.15); }
a:visited { color: #0881b3; }
a:focus { color: #0881b3; }
a:hover { color: #0881b3; }
a:active { color: #0881b3; }
a:hover, a:active { border-bottom: 1px solid rgba(8, 129, 179, 0); }

strong { font-weight: 600; }

body { -webkit-font-smoothing: antialiased; background-color: white; color: #4d4d4d; font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; }

@media (min-width: 1000px) { article { margin-right: 38.2%; } }
@media (max-width: 1000px) { article { position: absolute; top: 38.2%; width: 100%; } }
@media (max-width: 1000px) { article p { font-size: 16px; line-height: 24px; margin: 0 auto 24px auto; max-width: 600px; padding-left: 24px; padding-right: 24px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; } }
@media (min-width: 1000px) { article p { font-size: 20px; line-height: 32px; margin: 0 auto 32px auto; max-width: 600px; padding-left: 64px; padding-right: 64px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; } }
article p:first-of-type { color: #1a1a1a; font-weight: 300; }
@media (max-width: 1000px) { article p:first-of-type { font-size: 24px; line-height: 32px; margin-top: 32px; margin-bottom: 32px; } }
@media (min-width: 1000px) { article p:first-of-type { font-size: 32px; line-height: 48px; margin-top: 96px; margin-bottom: 48px; } }

figure { position: absolute; right: 0; top: 0; }
@media (min-width: 1000px) { figure { height: 100%; max-width: 600px; width: 38.2%; } }
@media (max-width: 1000px) { figure { height: 38.2%; max-height: 600px; width: 100%; } }

figcaption { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; color: rgba(255, 255, 255, 0.6); height: 100%; line-height: 20px; position: relative; width: 100%; background-image: url('http://distilleryimage5.ak.instagram.com/a0198d987c9611e39b501226303f8d71_8.jpg'); background-position: center center; background-repeat: no-repeat; font-size: 10px; font-weight: 300; }
@media (min-width: 1000px) { figcaption { -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset; } }
@media (max-width: 1000px) { figcaption { -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset; } }
figcaption a { color: rgba(255, 255, 255, 0.8); text-decoration: none; border: none; }
figcaption a:visited { color: rgba(255, 255, 255, 0.8); }
figcaption a:focus { color: rgba(255, 255, 255, 0.8); }
figcaption a:hover { color: white; }
figcaption a:active { color: white; }
figcaption span { text-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px; -webkit-font-smoothing: subpixel-antialiased; bottom: 0; margin: 12px 16px; padding: 0 8px; position: absolute; right: 0; }
